<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title th:text="${title}"></title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="padding-left: 20px; padding-right: 20px;">
            <img th:src="@{/img/nav-logo.png}" style="margin-right: 15px;" alt="" width="60" height="35" class="d-inline-block align-middle mr-2">
            <a class="navbar-brand" th:href="@{/user/dashboard}"><h1> Easy Portfolio</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:utext="${user.username}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/user/change-username}" href="#">Change Username</a>
                            <a class="dropdown-item" th:href="@{/user/change-password}" href="#">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </div>
         </nav>

        <!-- Content from other pages -->
        <div th:replace="${content}"></div>
        <!-- End of content from other pages -->



        <div class="footer bg-dark justify-content-center align-items-center">
            <br><div>&copy; Easy Portfolio</div>
            <div> Created with &#10084 by <a style="color: rgb(241,103,101);" href="https://www.HasibChowdhuree.website" target="_blank"> Hasib Chowdhuree</a> and <a href="https://rafsan-portfolio.herokuapp.com/" target="_blank" style="color: rgb(241,103,101);"> Nayeem Rafsan</a></div>
        </div>

        <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script th:src="@{/js/script.js}"></script>
		<script th:src="@{/js/forms.js}"></script>
    
    </body>
</html>