<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="baseuser::layout(~{::section})">
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <section class="d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <br><br>
                <!-- <section th:if="${user.details!=null}"><img th:src="'data:image/png;base64,' + ${image}" /></section> -->
                <h1 style="color: black; text-align: center;">Your Information</h1><br>
                
                <form class="signupform rounded" enctype="multipart/form-data" th:action="@{/user/inputform}" method="post"><br>
                    <!-- Personal Information-->

                    <h3 style="color: white;">Personal Information</h3>
                    <br>
                    <div class="row">
	                    <div class="col-6">
		                    <div class="form-group mb-3">
		                        <i class="fa fa-user"></i>
		                        <label>Name</label>
		                        <section th:if="${user.details!=null}"><input type="text" th:value="${user.details.full_name}" name="full_name" class="form-control"></section>
                                <section th:if="${user.details==null}"><input type="text" name="full_name" class="form-control"></section>
		                    </div>
	                    </div>
	                    <div class="col-6">
		                    <div class="form-group mb-3">
		                    <i class="fa fa-envelope"></i>
		                        <label>Email</label>
		                        <section th:if="${user.details!=null}"><input type="email" th:value="${user.details.email}" name="email" class="form-control"></section>
                                <section th:if="${user.details==null}"><input type="email" name="email" class="form-control"></section>
		                    </div>
	                    </div>
                    <div class="col-6">
	                    <div class="form-group mb-3">
	                    <i class="fa fa-phone"></i>
	                        <label>Phone</label>
	                        <section th:if="${user.details!=null}"><input type="text" th:value="${user.details.phone_number}" name="phone_number" class="form-control"></section>
                            <section th:if="${user.details==null}"><input type="text" name="phone_number" class="form-control"></section>
	                    </div>
                    </div>
                    <div class="col-6">
	                    <div class="form-group mb-3">
		                    <i class="fa fa-address-book"></i>
		                    <label>Address</label>
		                    <section th:if="${user.details!=null}"><input type="text" th:value="${user.details.address}" name="address" class="form-control"></section>
                            <section th:if="${user.details==null}"><input type="text" name="address" class="form-control"></section>
                        </div>
	                </div>
	                <div class="col-6">
	                    <div class="form-group mb-3">
	                    
	                    <i class="fa fa-calendar"></i>
	                    <label>Date of Birth</label>
	                        <section th:if="${user.details!=null}"><input name="birth_day" th:value="${user.details.birth_day}" type="date" class="form-control"></section>
                            <section th:if="${user.details==null}"><input name="birth_day" type="date" class="form-control"></section>
	                    </div>
	                </div>
	                <div class="col-6">
	                    <div class="form-group mb-3">
	                    <i class="fa fa-camera"></i>
	                        <label>Picture</label>
	                        <input type="file" name="file" enctype="multipart/form-data" class="form-control" id="inputGroupFile01">
	                    </div>
	                </div>
	                <div class="col-14">
	                    <div class="form-group">
	                    <i class="fa fa-pencil"></i>
	                        <label>Summary</label>
	                        <section th:if="${user.details!=null}"><textarea type="text" th:text="${user.details.summary}" name="summary" rows="2" class="form-control" ></textarea></section>
                            <section th:if="${user.details==null}"><textarea type="text" name="summary" rows="2" class="form-control" ></textarea></section>
	                    </div>
	                </div>
	                  </div>
                    <br><br><br>
                    <br>
                    <!-- Profile Links-->
                    <h3 style="color: white;">Profile Links</h3><br> 
                    <div class="input-group mb-3">
                        <select class="form-select" th:if="${user.profile_links!=null}" name="profile_links[0].website" id="inputGroupSelect02">
                            <option th:if="${!user.profile_links.isEmpty()}" th:utext="${user.profile_links[0].website}" selected></option>
                            <option th:if="${user.profile_links.isEmpty()}" selected>Select Profile</option>
                            <option value="LinkedIn">LinkedIn</option>
                            <option value="Github">Github</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Youtube">Youtube</option>
                        </select>
                        <section th:if="${!user.profile_links.isEmpty()}"><input type="text" th:value="${user.profile_links[0].link}" name="profile_links[0].link" class="form-control"  aria-label="Text input with dropdown button" placeholder="Profile URL"></section>
                        <section th:if="${user.profile_links.isEmpty()}"><input type="text" name="profile_links[0].link" class="form-control"  aria-label="Text input with dropdown button" placeholder="Profile URL"></section>
                    </div>
                    <section id="profilelinks"></section>
                    <br>
                    <button class="btn btn-danger" onclick="addProfile(); return false;"><i class="fa fa-plus"></i> Add another Profile Link</button>
                    <br><br><br>
                    <br>
                    <!-- Education-->
                    <h3 style="color: white;">Education</h3><br>
                    <div class="row">
	                    <div class="form-group mb-3 col-6">
	                    <i class="fa fa-university"></i>
	                    <label>Name of the Institution</label>
	                        <section th:if="${!user.educations.isEmpty()}"><input type="text" th:value="${user.educations[0].institute}" name="educations[0].institute" class="form-control" ></section>
                            <section th:if="${user.educations.isEmpty()}"><input type="text" name="educations[0].institute" class="form-control" ></section>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    <i class="fa fa-certificate"></i>
	                    <label>Name of Degree</label>
	                        <section th:if="${!user.educations.isEmpty()}"><input type="text" th:value="${user.educations[0].nameOfDegree}" name="educations[0].nameOfDegree"  class="form-control"></section>
                            <section th:if="${user.educations.isEmpty()}"><input type="text" name="educations[0].nameOfDegree"  class="form-control"></section>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    <i class="fa fa-calendar"></i>
	                    <label>Starting Year</label>
	                        <section th:if="${!user.educations.isEmpty()}"><input type="text" th:value="${user.educations[0].startingYear}" name="educations[0].startingYear" class="form-control" ></section>
                            <section th:if="${user.educations.isEmpty()}"><input type="text" name="educations[0].startingYear" class="form-control" ></section>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    <i class="fa fa-calendar"></i>
	                    <label>Ending Year / Currently Studying</label>
	                    	<section th:if="${!user.educations.isEmpty()}"><input type="text" th:value="${user.educations[0].endingYear}" name="educations[0].endingYear" class="form-control"></section>
                            <section th:if="${user.educations.isEmpty()}"><input type="text" name="educations[0].endingYear" class="form-control"></section>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    <i class="fa fa-graduation-cap"></i>
	                    <label>CGPA/GPA</label>
	                        <section><select class="form-select" name="educations[0].gradeType" id="inputGroupSelect02"></section>
	                            <option selected>Select Grading System</option>
	                            <option value="GPA" >GPA</option>
	                            <option value="CGPA">CGPA</option>
	                        </select>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    <i class="fa fa-graduation-cap"></i>
	                     <label>Grade</label>
	                        <section th:if="${!user.educations.isEmpty()}"><input type="text" th:value="${user.educations[0].grade}" name="educations[0].grade" class="form-control" ></section>
                            <section th:if="${user.educations.isEmpty()}"><input type="text" name="educations[0].grade" class="form-control" ></section>
	                    </div>
	                    <div class="form-group">
	                    <i class="fa fa-pencil"></i>
	                    <label>Additional Information</label>
	                        <section th:if="${!user.educations.isEmpty()}"><textarea type="text" row="2" th:text="${user.educations[0].additionalInfo}" name="educations[0].additionalInfo" class="form-control" ></textarea></section>
                            <section th:if="${user.educations.isEmpty()}"><textarea type="text" row="2" name="educations[0].additionalInfo" class="form-control" ></textarea></section>
	                    </div>
                    </div>
                    <br><br>
                    <section id="educations"></section>
                    <br>
                    <button class="btn btn-danger" onclick="addEducation(); return false;"><i class="fa fa-plus"></i> Add another Educational Institution</button>
                    <br><br><br>
                    <br>

                    <!-- Experience-->
                    <h3 style="color: white;">Experience</h3><br>
                    <div class="row">
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-university"></i>
	                        <span class="form-group-text" id="basic-addon1">Name of the Company</span>
	                        <section th:if="${!user.experience.isEmpty()}"><input type="text" th:value="${user.experience[0].companyName}" name="experience[0].companyName" class="form-control"></section>
                            <section th:if="${user.experience.isEmpty()}"><input type="text" name="experience[0].companyName" class="form-control"></section>
	                    </div>
	                    
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-user"></i>
	                        <span class="form-group-text" id="basic-addon1">Current Position</span>
	                        <section th:if="${!user.experience.isEmpty()}"><input type="text" th:value="${user.experience[0].position}" name="experience[0].position" class="form-control"></section>
                            <section th:if="${user.experience.isEmpty()}"><input type="text" name="experience[0].position" class="form-control"></section>
	                    </div>
	                    
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-calendar"></i>
	                    	<span class="form-group-text" id="basic-addon1">Starting Year</span>
	                        <section th:if="${!user.experience.isEmpty()}"><input type="text" th:value="${user.experience[0].startYear}" name="experience[0].startYear" class="form-control" ></section>
                            <section th:if="${user.experience.isEmpty()}"><input type="text" name="experience[0].startYear" class="form-control" ></section>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-calendar"></i>
	                    	<span class="form-group-text" id="basic-addon1">Ending Year / Currently Working</span>
	                        <section th:if="${!user.experience.isEmpty()}"><input type="text" th:value="${user.experience[0].endYear}" name="experience[0].endYear" class="form-control"></section>
                            <section th:if="${user.experience.isEmpty()}"><input type="text" name="experience[0].endYear" class="form-control"></section>
	                        
	                    </div>
	                    <div class="form-group">
	                    	<i class="fa fa-pencil"></i>
	                        <span class="form-group-text">Description</span>
	                        <section th:if="${!user.experience.isEmpty()}"><textarea type="text" th:text="${user.experience[0].description}" name="experience[0].description" rows="2" class="form-control"></textarea></section>
                            <section th:if="${user.experience.isEmpty()}"><textarea type="text" name="experience[0].description" rows="2" class="form-control"></textarea></section>
	                    </div>
                    </div>
					<br><br>
                    <section id="experience"></section>
                    <br>
                    <button class="btn btn-danger" onclick="addExperience(); return false;"><i class="fa fa-plus"></i> Add another Experience</button>
                    <br><br>
                    <br>
                    <br>

                    <!-- Skills -->
                    <h3 style="color: white;">Skills</h3><br>
                    <div class="row"> 
<!--                    <tr th:each="skill, iterStat : ${user.skills}">
	                    <div class="form-group mb-3 col-6" id="skillsclass">
	                    <i class="fa fa-star"></i>
	                    	<label>Category</label>
	                        <section th:if="${!user.skills.isEmpty()}"><input type="text" th:value="${skill.category}" name="skill.category" class="form-control"></section>
                            <section th:if="${user.skills.isEmpty()}"><input type="text" name="skill.category" class="form-control"></section>
	                    </div>
	                    <div class="form-group mb-3 col-6" id="skillsclass">
	                    <i class="fa fa-paint-brush"></i>
	                    	<label>Skill</label>
	                        <section th:if="${!user.skills.isEmpty()}"><input type="text" th:value="${skill.skillName}" name="skill.skillName" class="form-control"></section>
                            <section th:if="${user.skills.isEmpty()}"><input type="text" name="skill.skillName" class="form-control"></section>
	                    </div>
	                </tr>-->
	                    <div class="form-group mb-3 col-6" id="skillsclass">
	                    <i class="fa fa-star"></i>
	                    	<label>Category</label>
	                        <section th:if="${!user.skills.isEmpty()}"><input type="text" th:value="${user.skills[0].category}" name="skills[0].category" class="form-control"></section>
                            <section th:if="${user.skills.isEmpty()}"><input type="text" name="skills[0].category" class="form-control"></section>
	                    </div>
	                    <div class="form-group mb-3 col-6" id="skillsclass">
	                    <i class="fa fa-paint-brush"></i>
	                    	<label>Skill</label>
	                        <section th:if="${!user.skills.isEmpty()}"><input type="text" th:value="${user.skills[0].skillName}" name="skills[0].skillName" class="form-control"></section>
                            <section th:if="${user.skills.isEmpty()}"><input type="text" name="skills[0].skillName" class="form-control"></section>
	                    </div>
                    </div>
                    <section id="skills"></section>
					<br>
                    <button class="btn btn-danger" onclick="addSkills(); return false;"><i class="fa fa-plus"></i> Add another catagory of Skills</button>
                    <br><br>
                    <br>
                    <br>

                    <!-- Projects -->
                    <h3 style="color: white;">Projects</h3><br>
                    <div class="row">
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-database"></i>
	                        <span class="form-group-text" id="basic-addon1">Name of the Project</span>
	                        <section th:if="${!user.projects.isEmpty()}"><input type="text" th:value="${user.projects[0].name}" name="projects[0].name" class="form-control"></section>
                            <section th:if="${user.projects.isEmpty()}"><input type="text" name="projects[0].name" class="form-control"></section>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-paint-brush"></i>
	                        <span class="form-group-text" id="basic-addon1">Tools Used</span>
	                        <section th:if="${!user.projects.isEmpty()}"><input type="text" th:value="${user.projects[0].toolUsed}" name="projects[0].toolUsed" class="form-control"></section>
                            <section th:if="${user.projects.isEmpty()}"><input type="text" name="projects[0].toolUsed" class="form-control"></section>
	                    </div>
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-link"></i>
	                        <span class="form-group-text" id="basic-addon1">Project Link</span>
	                        <section th:if="${!user.projects.isEmpty()}"><input type="text" th:value="${user.projects[0].link}" name="projects[0].link" class="form-control"></section>
                            <section th:if="${user.projects.isEmpty()}"><input type="text" name="projects[0].link" class="form-control"></section>
	                    </div>
	                    <div class="form-group">
	                    	<i class="fa fa-pencil"></i>
	                        <span class="form-group-text">Project Description</span>
	                        <section th:if="${!user.projects.isEmpty()}"><textarea type="text" th:text="${user.projects[0].description}" name="projects[0].description" rows="2" class="form-control" aria-label="With textarea"></textarea></section>
                            <section th:if="${user.projects.isEmpty()}"><textarea type="text" name="projects[0].description" rows="2" class="form-control" aria-label="With textarea"></textarea></section>
	                    </div>
                    </div>
					<br><br>
					<section id="project"></section>
                    <br>
                    <button class="btn btn-danger" onclick="addProject(); return false;"><i class="fa fa-plus"></i> Add another Project</button>
                    
                    <br><br><br><br>




                    <!-- Achievements -->
                    <h3 style="color: white;">Achievements</h3><br>
                    <div class="row">
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-trophy"></i>
	                        <span class="form-group-text" id="basic-addon1">Achievement</span>
	                        <section th:if="${!user.achievements.isEmpty()}"><input type="text" th:value="${user.achievements[0].name}" name="achievements[0].name" class="form-control"></section>
                            <section th:if="${user.achievements.isEmpty()}"><input type="text" name="achievements[0].name" class="form-control"></section>
	                    </div>
	                    <div class="form-group">
	                    	<i class="fa fa-pencil"></i>
	                        <span class="form-group-text">Description</span>
	                        <section th:if="${!user.achievements.isEmpty()}"><textarea type="text" th:text="${user.achievements[0].description}" name="achievements[0].description" rows="2" class="form-control" aria-label="With textarea"></textarea></section>
                            <section th:if="${user.achievements.isEmpty()}"><textarea type="text" name="achievements[0].description" rows="2" class="form-control" aria-label="With textarea"></textarea></section>
	                    </div>
                    </div>
					<br><br>
                    
					
					<section id="achievement"></section>
                    <br>
                    <button class="btn btn-danger" onclick="addAchievement(); return false;"><i class="fa fa-plus"></i> Add another Achievement</button>
                    
                    <br><br>
                    <br>



                    <!-- References -->
                    <h3 style="color: white;">References</h3><br>
                    <div class="row">
	                    <div class="form-group mb-3 col-6">
	                    	<i class="fa fa-group"></i>
	                        <span class="form-group-text" id="basic-addon1">Name</span>
	                        <section th:if="${!user.reference.isEmpty()}"><input type="text" th:value="${user.reference[0].name}" name="reference[0].name" class="form-control"></section>
                            <section th:if="${user.reference.isEmpty()}"><input type="text"name="reference[0].name" class="form-control"></section>
	                    </div>
	                    <div class="form-group">
	                    	<i class="fa fa-pencil"></i>
	                        <span class="form-group-text">Description</span>
	                        <section th:if="${!user.reference.isEmpty()}"><textarea type="text" th:text="${user.reference[0].description}" name="reference[0].description" rows="2" class="form-control" aria-label="With textarea"></textarea></section>
                            <section th:if="${user.reference.isEmpty()}"><textarea type="text" name="reference[0].description" rows="2" class="form-control" aria-label="With textarea"></textarea></section>
	                    </div>
                    </div>
                    <br><br>
					
					<section id="reference"></section>
                    <br>
                    <button class="btn btn-danger" onclick="addReference(); return false;"><i class="fa fa-plus"></i> Add another Reference</button>
                    
					<br><br>
                   
                    <div class="text-center">
                    	
                        <button type="submit" class="btn btn-outline-light">Update</button>
                    </div>
                </form>
                <button class="btn btn-primary"><a style="text-decoration: none;color:white" th:href="@{'/genpdf/' + ${user.username} + '.pdf'}">Generate pdf</button>
            </div>
        </section>
    </body>
</html>