<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title th:text="${user.details.full_name}"></title>
        

        <link rel="stylesheet" th:href="@{/css/style.css}">
        


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
        <link rel="stylesheet" th:href="@{/css/fontAwesome.css}">
        <link rel="stylesheet" th:href="@{/css/light-box.css}">
        <link rel="stylesheet" th:href="@{/css/owl-carousel.css}">
        <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script th:src="@{/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
        
    </head>

<body>
  <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top"  style="font-size:200%"  data-toggle="collapse" data-target="#main-nav">
                        <section th:if="${image==null}"><img style="border-radius: 50%;" src="https://i.imgur.com/5UpOyrb.jpg" width="30%">
                        </section>
                        <section th:if="${image!=null}"><img style="border-radius: 50%;" th:src="'data:image/png;base64,' + ${image}" width="30%">
                        </section>
                        <br><b th:text="${user.details.full_name}"></b><br></a></li>
                        <li><a href="#education" data-toggle="collapse" data-target="#main-nav">Education</a></li>
                        
                        
                        <li><a href="#experience" data-toggle="collapse" data-target="#main-nav">Experience</a></li>
                        <li><a href="#skills" data-toggle="collapse" data-target="#main-nav">Skills</a></li>
                        <li><a href="#project" data-toggle="collapse" data-target="#main-nav">Projects</a></li>
                        <li><a href="#certifications" data-toggle="collapse" data-target="#main-nav">Achievements</a></li>
                        <li><a href="#reference" data-toggle="collapse" data-target="#main-nav">References</a></li>
                        <li><a href="#contact" data-toggle="collapse" data-target="#main-nav">Contact</a></li>
                        
                    </ul>
                    
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
            <section th:if="${image!=null}"><img style="border-radius: 50%;" th:src="'data:image/png;base64,' + ${image}" width="50%"/></section>
            <section th:if="${image==null}"><img style="border-radius: 50%;" src="https://i.imgur.com/5UpOyrb.jpg" width="50%"/></section>
                <!--<img  th:src="@{/img/profile.jpg}" >-->
                <a ><br><emhref="" th:utext="${user.details.full_name}"></em></a>
                
            </div>
            <br><br>
            <nav>
                <ul>
                    <li>
                        <a href="#education">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Education
                        </a>
                    </li>
                    
                    
                    <li>
                        <a href="#experience">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Experience
                        </a>
                    </li>
                    <li>
                        <a href="#skills">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Skills
                        </a>
                    </li>
                    <li>
                        <a href="#project">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="#certifications">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Achievements
                        </a>
                    </li>
                    <li>
                        <a href="#reference">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            References
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contact
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1 th:text="${user.details.full_name}"></h1>
                            <p th:text="${user.details.summary}"></p>
                          
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                            <div>
                                <h1 th:text="${user.details.full_name}">Hasib Chowdhuree</h1>
                                <p th:text="${user.details.summary}"></p>
                          
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                            <div>
                                <h1 th:text="${user.details.full_name}">Hasib Chowdhuree</h1>
                                <p th:text="${user.details.summary}"></p>
                              
                            </div>
                            </div>
                        </div>
                    </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="education" class="content-section">
                <div class="section-heading">
                    <h1><em>Education</em></h1>
                    
                </div>
                <div class="section-content"  th:each="education : ${user.educations}">
                    <div class="tabs-content">
                        <div class="wrapper">
                            
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img th:src="@{/img/education.png}" alt="">
                                                <div class="text-content">
                                                    <br>
                                                    <h4 th:text="${education.nameOfDegree}"></h4>
                                                    <h4 th:text="${education.institute}"></h4><br>
                                                    <span th:text="${education.startingYear}"></span> - <span th:text="${education.endingYear}"></span><br>
                                                    <span th:text="${education.gradeType}"></span> - <span th:text="${education.grade}"></span><br>
                                                    <p style="font-size:100%;" th:utext="${education.additionalInfo}"></p>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                            </section> 
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="experience" class="content-section">
                <div class="section-heading">
                    <h1><em>Experience</em></h1>
                    
                </div>
                <div class="section-content"   th:each="experience : ${user.experience}">
                    <div class="tabs-content">
                        <div class="wrapper">
                            
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img th:src="@{/img/experience.png}" alt="">
                                                <div class="text-content">
                                                    <br>
                                                    <h4 th:utext="${experience.position}" style="display:inline;"></h4><span>&nbsp; at &nbsp;</span><h4 style="display:inline;" th:utext="${experience.companyName}"></h4><br><br>
                                                    <span th:utext="${experience.startYear}"></span> - <span th:utext="${experience.endYear}"></span><br>
                                                    <p style="font-size:100%;" th:utext="${experience.description}"></p>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                            </section> 
                        </div>
                    </div>
                </div>
            </section>
            <section id="skills" class="content-section">
                
                <div class="section-heading">
                    <h1><em>Skills</em></h1>
                </div>
                
                <div class="section-content">
                    <table id="t01">
  
                        <tr th:each="skill : ${user.skills}">
                          <td style="width:20%"><b th:text="${skill.category}"></b></td>
                          <td th:text="${skill.skillName}"></td>
                        </tr>
                      </table>
                      
                </div>
            </section>
            
            <section id="project" class="content-section">
                <div class="section-heading">
                    <h1><em>Projects</em></h1>
                    
                </div>
                <div class="section-content"   th:each="project : ${user.projects}">
                    <div class="tabs-content">
                        <div class="wrapper">
                            
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img th:src="@{/img/project.png}" alt="">
                                                <div class="text-content">
                                                    <h4 th:utext="${project.name}"></h4><br>
                                                    <span>Project Link -&nbsp;</span><span th:utext="${project.link}"></span><br>
                                                    <span>Tools Used -&nbsp; </span><span th:utext="${project.toolUsed}"></span>
                                                    <p style="font-size:100%;" th:utext="${project.description}"></p>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                            </section> 
                        </div>
                    </div>
            </section>
            <section id="certifications" class="content-section">
                <div class="section-heading">
                    <h1><em>Achievements</em></h1>
                    
                </div>
                <div class="section-content"   th:each="achievement : ${user.achievements}">
                    <div class="tabs-content">
                        <div class="wrapper">
                            
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img th:src="@{/img/achievement.png}" alt="">
                                                <div class="text-content">
                                                    <h4 th:utext="${achievement.name}"></h4><br>
                                                    <p style="font-size:100%;" th:utext="${achievement.description}"></p>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                            </section> 
                        </div>
                    </div>
            </section>
            <section id="reference" class="content-section">
                <div class="section-heading">
                    <h1><em>References</em></h1>
                    
                </div>
                <div class="section-content"   th:each="reference : ${user.reference}">
                    <div class="tabs-content">
                        <div class="wrapper">
                            
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img th:src="@{/img/reference.png}" alt="">
                                                <div class="text-content">
                                                    <h4 th:utext="${reference.name}"></h4><br>
                                                    <p style="font-size:100%;" th:utext="${reference.description}"></p>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                            </section> 
                        </div>
                    </div>
            </section>
            <section id="contact" class="content-section">
                
                <div class="section-heading">
                    <h1><em>Contact</em></h1>
                </div>
                
                <div class="section-content">
                    <table id="t01">
                        <tr>
                            <td style="width:20%"><b>Email</b></td>
                            <td th:text="${user.details.email}"></td>
                        </tr>
                        <tr>
                            <td style="width:20%"><b>Phone</b></td>
                            <td th:text="${user.details.phone_number}"></td>
                        </tr>
                        <tr>
                            <td style="width:20%"><b>Address</b></td>
                            <td th:text="${user.details.address}"></td>
                        </tr>
                        <tr th:each="profilelink : ${user.profile_links}">
                          <td style="width:20%"><b th:text="${profilelink.website}"></b></td>
                          <td th:text="${profilelink.link}"></td>
                        </tr>
                      </table>
                      
                </div>
            </section>
            
            



            <section class="footer">
                <p>&copy; Created by using <a th:href="@{/}">Easy Portfolio</a>
            </section>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
    
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <script>
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            if (st > lastScrollTop && st > navbarHeight){
               
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>
    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>