<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <title>Register</title>
  </head>
  <body>
    <section class="register-login-banner d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <form class="signupform rounded" th:action="@{/processsignup}" method="post"><br>
          <h3 style="color: white; text-align: center;">Don't have an account yet? <br> Sign up right here!</h3><br><br>
          <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			<p class="text-center" th:text="${session.message.content}"> <p>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
          <div class="mb-3">
            <input type="email" name="email" class="form-control" id="" placeholder="Email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="username" name="username" class="form-control" id="" placeholder="Userame" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control" id="">
          </div>
          <div class="mb-3">
            <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control" id="1">
          </div>
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-light">Create an account</button>
            <br><br>
            <p>Already have an account? Click here to <a th:href="@{/signin}" style="color: rgba(241, 103, 101, 0.8);">Sign in!</a></p>
          </div>
        </form>
      </div>
    </section>
        
  </body>
</html>