<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<title></title>
</head>
<body>
	<section>
		<h1 th:utext="${user.email}"></h1>
		<span th:if="${user.details!=null}">
			<h1 th:utext="${user.details.fullName}"></h1>
			<h1 th:utext="${user.educations[0].institute}"></h1>
			<h1 th:utext="${user.educations[0].grade}"></h1>
			<button class="btn btn-primary"><a style="text-decoration: none;color:white" th:href="@{'/genpdf/' + ${user.email} + '.pdf'}">Generate pdf</button>
		</span>
	</section>
</body>
</html>