<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="baseuser::layout(~{::section})">
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <section class="d-flex justify-content-center align-items-center">
			<div class="col-md-8"><br>
				<h2>Personal Information</h2>
                <form class="signupform rounded" enctype="multipart/form-data" th:action="@{/user/dashboard}" method="post">
					<div class="row">
	                    <div class="col-6">
		                    <div class="form-group mb-3">
		                        <i class="fa fa-user"></i>
		                        <label>Name</label>
		                        <section th:if="${user.details!=null}"><input type="text" th:value="${user.details.full_name}" name="full_name" class="form-control"></section>
                                <section th:if="${user.details==null}"><input type="text" name="full_name" class="form-control"></section>
		                    </div>
	                    </div>
	                    <div class="col-6">
		                    <div class="form-group mb-3">
		                    	<i class="fa fa-envelope"></i>
		                        <label>Email</label>
		                        <section th:if="${user.details!=null}"><input type="email" th:value="${user.details.email}" name="email" class="form-control"></section>
                                <section th:if="${user.details==null}"><input type="email" name="email" class="form-control"></section>
		                    </div>
	                    </div>
                    	<div class="col-6">
	                    	<div class="form-group mb-3">
	                    		<i class="fa fa-phone"></i>
	                        	<label>Phone</label>
	                        	<section th:if="${user.details!=null}"><input type="text" th:value="${user.details.phone_number}" name="phone_number" class="form-control"></section>
                            	<section th:if="${user.details==null}"><input type="text" name="phone_number" class="form-control"></section>
	                    	</div>
                    	</div>
                    	<div class="col-6">
	                    	<div class="form-group mb-3">
		                    	<i class="fa fa-address-book"></i>
		                    	<label>Address</label>
		                    	<section th:if="${user.details!=null}"><input type="text" th:value="${user.details.address}" name="address" class="form-control"></section>
                            	<section th:if="${user.details==null}"><input type="text" name="address" class="form-control"></section>
                        	</div>
	                	</div>
	                	<div class="col-6">
	                    	<div class="form-group mb-3">
	                    		<i class="fa fa-calendar"></i>
	                    		<label>Date of Birth</label>
	                        	<section th:if="${user.details!=null}"><input name="birth_day" th:value="${user.details.birth_day}" type="date" class="form-control"></section>
                            	<section th:if="${user.details==null}"><input name="birth_day" type="date" class="form-control"></section>
	                    	</div>
	                	</div>
	                	<div class="col-6">
	                    	<div class="form-group mb-3">
	                    		<i class="fa fa-camera"></i>
	                        	<label>Picture</label>
	                        	<input type="file" name="file" class="form-control" id="inputGroupFile01">
	                    	</div>
	                	</div>
	                	<div class="col-14">
	                    	<div class="form-group">
	                    		<i class="fa fa-pencil"></i>
	                        	<label>Summary</label>
	                        	<section th:if="${user.details!=null}"><textarea type="text" th:text="${user.details.summary}" name="summary" rows="2" class="form-control" ></textarea></section>
                            	<section th:if="${user.details==null}"><textarea type="text" name="summary" rows="2" class="form-control" ></textarea></section>
	                    	</div>
							<br>
                    		<div class="text-center">
                    			<button type="submit" class="btn btn-light">Update Personal Information</button>
                    		</div>
						</div>
					</div>
                </form>
				<br>
				<!--Education-->
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h2>Education</h2>
						</div>
						<div class="col-6 text-end">
							<a th:href="@{/user/add-education}" class="btn btn-danger btn-lg">
								<i class="fa fa-plus"></i>&nbsp;Add Educational Institution
							</a>
						</div>
					</div>
				</div>
				<section th:each="education : ${user.educations}">
					<form class="signupform rounded">
						<div class="row" >
	                    	<div class="form-group mb-3 col-12">
	                        	<div class="text-end">
									<a href="#" class="btn btn-light"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
									<a href="#" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
								</div>
	                    	</div>
	                    	<div class="form-group mb-3 col-6">
	                        	<i class="fa fa-university"></i>
	                        	<label>Name of the Institution</label>
	                        	<input type="text" th:value="${education.institute}" th:disabled="${true}" id="disabledTextInput" class="form-control" style="background: transparent;">
	                    	</div>
							<div class="form-group mb-3 col-6">
	                        	<i class="fa fa-certificate"></i>
	                        	<label>Name of Degree</label>
	                        	<input type="text" th:value="${education.nameOfDegree}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput"  class="form-control">
	                    	</div>
	                    	<div class="form-group mb-3 col-3">
	                        	<i class="fa fa-graduation-cap"></i>
	                        	<label>CGPA/GPA</label>
	                        	<input type="text" th:value="${education.gradeType}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
	                    	</div>
	                    	<div class="form-group mb-3 col-3">
	                        	<i class="fa fa-graduation-cap"></i>
	                        	<label>Grade</label>
	                        	<input type="text" th:value="${education.grade}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control" >
	                    	</div>
							<div class="form-group mb-3 col-3">
	                        	<i class="fa fa-calendar"></i>
	                        	<label>Starting Year</label>
	                        	<input type="text" th:value="${education.startingYear}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
	                    	</div>
	                    	<div class="form-group mb-3 col-3">
	                        	<i class="fa fa-calendar"></i>
	                        	<label>Ending Year</label>
	                    		<input type="text" th:value="${education.endingYear}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
	                    	</div>
	                    	<div class="form-group">
	                        	<i class="fa fa-pencil"></i>
	                        	<label>Additional Information</label>
	                        	<textarea type="text" th:text="${education.additionalInfo}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" row="3" class="form-control" ></textarea>
	                    	</div>
                    	</div>
					</form>
				</section>
			</div>
        </section>
    </body>
</html>