<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="baseuser::layout(~{::section})">
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <section class="d-flex justify-content-center align-items-center">
			<div class="col-md-8"><br>
				<h2>Personal Information</h2>
                <form class="signupform rounded" enctype="multipart/form-data" th:action="@{/user/dashboard}" method="post">
					<div class="row">
	                    <div class="col-6">
		                    <div class="form-group mb-3">
		                        <i class="fa fa-user"></i>
		                        <label>Name</label>
		                        <section th:if="${user.details!=null}"><input type="text" th:value="${user.details.full_name}" name="full_name" class="form-control"></section>
                                <section th:if="${user.details==null}"><input type="text" name="full_name" class="form-control"></section>
		                    </div>
	                    </div>
	                    <div class="col-6">
		                    <div class="form-group mb-3">
		                    	<i class="fa fa-envelope"></i>
		                        <label>Email</label>
		                        <section th:if="${user.details!=null}"><input type="email" th:value="${user.details.email}" name="email" class="form-control"></section>
                                <section th:if="${user.details==null}"><input type="email" name="email" class="form-control"></section>
		                    </div>
	                    </div>
                    	<div class="col-6">
	                    	<div class="form-group mb-3">
	                    		<i class="fa fa-phone"></i>
	                        	<label>Phone</label>
	                        	<section th:if="${user.details!=null}"><input type="text" th:value="${user.details.phone_number}" name="phone_number" class="form-control"></section>
                            	<section th:if="${user.details==null}"><input type="text" name="phone_number" class="form-control"></section>
	                    	</div>
                    	</div>
                    	<div class="col-6">
	                    	<div class="form-group mb-3">
		                    	<i class="fa fa-address-book"></i>
		                    	<label>Address</label>
		                    	<section th:if="${user.details!=null}"><input type="text" th:value="${user.details.address}" name="address" class="form-control"></section>
                            	<section th:if="${user.details==null}"><input type="text" name="address" class="form-control"></section>
                        	</div>
	                	</div>
	                	<div class="col-6">
	                    	<div class="form-group mb-3">
	                    		<i class="fa fa-calendar"></i>
	                    		<label>Date of Birth</label>
	                        	<section th:if="${user.details!=null}"><input name="birth_day" th:value="${user.details.birth_day}" type="date" class="form-control"></section>
                            	<section th:if="${user.details==null}"><input name="birth_day" type="date" class="form-control"></section>
	                    	</div>
	                	</div>
	                	<div class="col-6">
	                    	<div class="form-group mb-3">
	                    		<i class="fa fa-camera"></i>
	                        	<label>Picture</label>
	                        	<input type="file" name="file" class="form-control" id="inputGroupFile01">
	                    	</div>
	                	</div>
	                	<div class="col-14">
	                    	<div class="form-group">
	                    		<i class="fa fa-pencil"></i>
	                        	<label>Summary</label>
	                        	<section th:if="${user.details!=null}"><textarea type="text" th:text="${user.details.summary}" name="summary" rows="2" class="form-control" ></textarea></section>
                            	<section th:if="${user.details==null}"><textarea type="text" name="summary" rows="2" class="form-control" ></textarea></section>
	                    	</div>
							<br>
                    		<div class="text-center">
                    			<button type="submit" class="btn btn-light">Update Personal Information</button>
                    		</div>
						</div>
					</div>
                </form>
				<br>
				<!--Profile Links-->
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h2>Profile Links</h2>
						</div>
						<div class="col-6 text-end">
							<a th:href="@{/user/add-profile-link}" class="btn btn-danger btn-lg">
								<i class="fa fa-plus"></i>&nbsp;Add Profile Links
							</a>
						</div>
					</div>
				</div>
				<section th:each="profilelink : ${user.profile_links}">
					<form class="signupform rounded">
						<div class="row" >
	                    	<div class="form-group col-9">
	                        	<label th:text="${profilelink.website}"></label>
	                        	<input type="text" th:value="${profilelink.link}" th:disabled="${true}" id="disabledTextInput" class="form-control" style="background: transparent;">
	                    	</div>
	                    	<div class="form-group col-3 mt-4">
	                        	<div class="text-end">
									<a href="#" class="btn btn-light"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
									<a href="#" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
								</div>
	                    	</div>
						</div>
					</form>
				</section>
				<br>
				<!--Education-->
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h2>Education</h2>
						</div>
						<div class="col-6 text-end">
							<a th:href="@{/user/add-education}" class="btn btn-danger btn-lg">
								<i class="fa fa-plus"></i>&nbsp;Add Educational Institution
							</a>
						</div>
					</div>
				</div>
				<section th:each="education : ${user.educations}">
					<form class="signupform rounded">
						<div class="row" >
	                    	<div class="form-group mb-3 col-6">
	                        	<i class="fa fa-university"></i>
	                        	<label>Name of the Institution</label>
	                        	<input type="text" th:value="${education.institute}" th:disabled="${true}" id="disabledTextInput" class="form-control" style="background: transparent;">
	                    	</div>
	                    	<div class="form-group mb-3 col-6">
	                        	<div class="text-end">
									<a href="#" class="btn btn-light"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
									<a href="#" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
								</div>
	                    	</div>
							<div class="form-group mb-3 col-4">
	                        	<i class="fa fa-certificate"></i>
	                        	<label>Name of Degree</label>
	                        	<input type="text" th:value="${education.nameOfDegree}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput"  class="form-control">
	                    	</div>
	                    	<div class="form-group mb-3 col-2">
	                        	<i class="fa fa-graduation-cap"></i>
	                        	<label>CGPA/GPA</label>
	                        	<input type="text" th:value="${education.gradeType}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
	                    	</div>
	                    	<div class="form-group mb-3 col-2">
	                        	<i class="fa fa-graduation-cap"></i>
	                        	<label>Grade</label>
	                        	<input type="text" th:value="${education.grade}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control" >
	                    	</div>
							<div class="form-group mb-3 col-2">
	                        	<i class="fa fa-calendar"></i>
	                        	<label>Starting Year</label>
	                        	<input type="text" th:value="${education.startingYear}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
	                    	</div>
	                    	<div class="form-group mb-3 col-2">
	                        	<i class="fa fa-calendar"></i>
	                        	<label>Ending Year</label>
	                    		<input type="text" th:value="${education.endingYear}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
	                    	</div>
	                    	<div class="form-group">
	                        	<i class="fa fa-pencil"></i>
	                        	<label>Additional Information</label>
	                        	<textarea type="text" th:text="${education.additionalInfo}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" row="3" class="form-control" ></textarea>
	                    	</div>
                    	</div>
					</form>
				</section>
				<br>
				<!--Experience-->
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h2>Experience</h2>
						</div>
						<div class="col-6 text-end">
							<a th:href="@{/user/add-experience}" class="btn btn-danger btn-lg">
								<i class="fa fa-plus"></i>&nbsp;Add Experience
							</a>
						</div>
					</div>
				</div>
				<section th:each="experience : ${user.experience}">
					<form class="signupform rounded">
						<div class="row" >
	                    	<div class="form-group mb-3 col-6">
								<i class="fa fa-university"></i>
								<span class="form-group-text" id="basic-addon1">Name of the Company</span>
								<input type="text" th:value="${experience.companyName}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
	                    	<div class="form-group mb-3 col-6">
	                        	<div class="text-end">
									<a href="#" class="btn btn-light"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
									<a href="#" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
								</div>
	                    	</div>
							<div class="form-group mb-3 col-6">
								<i class="fa fa-user"></i>
								<span class="form-group-text" id="basic-addon1">Current Position</span>
								<input type="text" th:value="${experience.position}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
							
							<div class="form-group mb-3 col-3">
								<i class="fa fa-calendar"></i>
								<span class="form-group-text" id="basic-addon1">Starting Year</span>
								<input  type="text" th:value="${experience.startYear}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
							<div class="form-group mb-3 col-3">
								<i class="fa fa-calendar"></i>
								<span class="form-group-text" id="basic-addon1">Ending Year</span>
								<input  type="text" th:value="${experience.endYear}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
							<div class="form-group">
								<i class="fa fa-pencil"></i>
								<span class="form-group-text">Description</span>
								<textarea  type="text" th:text="${experience.description}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" rows="2" class="form-control"></textarea>
							</div>
                    	</div>
					</form>
				</section>
				<br>
				<!--Skills-->
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h2>Skills</h2>
						</div>
						<div class="col-6 text-end">
							<a th:href="@{/user/add-skill}" class="btn btn-danger btn-lg">
								<i class="fa fa-plus"></i>&nbsp;Add Skill Catagory
							</a>
						</div>
					</div>
				</div>
				<section th:each="skill : ${user.skills}">
					<form class="signupform rounded">
						<div class="row" >
	                    	<div class="form-group col-9">
	                        	<label th:text="${skill.category}"></label>
	                        	<input type="text" th:value="${skill.skillName}" th:disabled="${true}" id="disabledTextInput" class="form-control" style="background: transparent;">
	                    	</div>
	                    	<div class="form-group col-3 mt-4">
	                        	<div class="text-end">
									<a href="#" class="btn btn-light"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
									<a href="#" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
								</div>
	                    	</div>
						</div>
					</form>
				</section>
				<br>
				<!--Projects-->
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h2>Projects</h2>
						</div>
						<div class="col-6 text-end">
							<a th:href="@{/user/add-project}" class="btn btn-danger btn-lg">
								<i class="fa fa-plus"></i>&nbsp;Add Project
							</a>
						</div>
					</div>
				</div>
				<section th:each="project : ${user.projects}">
					<form class="signupform rounded">
						<div class="row" >
	                    	<div class="form-group mb-3 col-6">
								<i class="fa fa-database"></i>
								<span class="form-group-text" id="basic-addon1">Name of the Project</span>
								<input type="text" th:value="${project.name}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
	                    	<div class="form-group mb-3 col-6">
	                        	<div class="text-end">
									<a href="#" class="btn btn-light"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
									<a href="#" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
								</div>
	                    	</div>
							<div class="form-group mb-3 col-6">
								<i class="fa fa-link"></i>
								<span class="form-group-text" id="basic-addon1">Project Link</span>
								<input type="text" th:value="${project.link}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
							<div class="form-group mb-3 col-6">
								<i class="fa fa-paint-brush"></i>
								<span class="form-group-text" id="basic-addon1">Tools Used</span>
								<input type="text" th:value="${project.toolUsed}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
							<div class="form-group">
								<i class="fa fa-pencil"></i>
								<span class="form-group-text">Description</span>
								<textarea  type="text" th:text="${project.description}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" rows="2" class="form-control"></textarea>
							</div>
                    	</div>
					</form>
				</section>
				<br>
				<!--Achievements-->
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h2>Achievements</h2>
						</div>
						<div class="col-6 text-end">
							<a th:href="@{/user/add-achievement}" class="btn btn-danger btn-lg">
								<i class="fa fa-plus"></i>&nbsp;Add Achievement
							</a>
						</div>
					</div>
				</div>
				<section th:each="achievement : ${user.achievements}">
					<form class="signupform rounded">
						<div class="row" >
	                    	<div class="form-group mb-3 col-6">
								<i class="fa fa-trophy"></i>
								<span class="form-group-text" id="basic-addon1">Name</span>
								<input type="text" th:value="${achievement.name}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" class="form-control">
							</div>
	                    	<div class="form-group mb-3 col-6">
	                        	<div class="text-end">
									<a href="#" class="btn btn-light"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a>
									<a href="#" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
								</div>
	                    	</div>
							<div class="form-group">
								<i class="fa fa-pencil"></i>
								<span class="form-group-text">Description</span>
								<textarea  type="text" th:text="${achievement.description}" th:disabled="${true}" style="background: transparent;" id="disabledTextInput" rows="2" class="form-control"></textarea>
							</div>
                    	</div>
					</form>
				</section>
			</div>
        </section>
    </body>
</html>